<header
  class="reverse-dir h-20 w-full flex justify-between items-center md:px-16 px-6 lg:py-2 py-5 bg-[#161616]"
>
  <div class="flex justify-center items-center sm:gap-8 gap-4">
    <a class="lg:text-xl text-3xl font-semibold font-sans text-white"
      >i<span class="text-[#48A74C]">Z</span>AM</a
    >

    <div
      class="hidden-sm sm:w-80 sm:h-12 flex justify-center items-center p-2 rounded-full bg-white"
    >
      <button
        class="h-9 w-9 flex justify-center items-center rounded-full text-white bg-[#48A74C]"
      >
        <mat-icon style="height: 20px; width: 20px; font-size: 20px"
          >search</mat-icon
        >
      </button>

      <input
        class="flex-grow border-none rounded-full outline-none focus:ring-0 placeholder:text-[#C4C3C3]"
        type="text"
        placeholder="Search by name, job title, ..."
      />
    </div>
  </div>

  <ul
    class="overflow-x-auto hidden-sm flex justify-center items-center gap-14 list-none text-slate-100"
  >
    @for (item of navList(); track $index) {
    <li>
      <a class="flex flex-col justify-center items-center gap-1" href="#">
        <img
          [src]="item.icon"
          [attr.alt]="item.title"
          class="lg:w-6 md:w-4 lg:h-6 md:h-4"
        />
        <span class="font-sans text-sm font-normal">{{ item.title }}</span>
      </a>
    </li>
    }

    <div class="w-[1px] h-10 bg-[#D6D6D699]"></div>

    <li>
      <a class="flex flex-col justify-center items-center gap-1" href="#">
        <img
          src="assets/icons/bell.svg"
          alt="item.title"
          class="lg:w-6 md:w-4 lg:h-6 md:h-4"
        />
        <span class="font-sans text-sm font-normal">Notifications</span>
      </a>
    </li>

    <li>
      <a class="flex flex-col justify-center items-center gap-1" href="#">
        <img
          src="assets/icons/Group 2.svg"
          alt="item.title"
          class="lg:w-6 md:w-4 lg:h-6 md:h-4"
        />
        <span class="font-sans text-sm font-normal">Messaging</span>
      </a>
    </li>

    <li>
      <button
        #dropdown
        data-dropdown-toggle="profileMenu"
        class="p-0 m-0"
        type="button"
      >
        <div class="flex flex-col justify-center items-center gap-1">
          <img
            [src]="userInfo().img"
            [alt]="userInfo().name"
            class="lg:w-8 md:w-6 lg:h-8 md:h-6 rounded-full bg-cover"
          />
          <div class="flex justify-center items-center gap-1">
            <span class="font-sans text-sm font-normal">Profile</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </div>
        </div>
      </button>

      <div
        id="profileMenu"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-xl"
        (click)="dropdown.click()"
      >
        @if(userInfo()){
        <button class="w-full m-0 border-none outline-none p-4">
          <div class="w-full flex justify-between items-center gap-6">
            <div class="flex justify-start items-center gap-3">
              <img
                [src]="userInfo().img"
                [alt]="userInfo().name"
                class="w-12 h-12 rounded-full bg-cover"
              />

              <div class="flex flex-col justify-center items-start">
                <span class="text-base text-[#161616] font-sans font-medium">
                  {{ userInfo().name }}
                </span>
                <span class="text-sm text-gray-400 font-sans font-normal">
                  {{ userInfo().description }}
                </span>
              </div>
            </div>

            <mat-icon class="text-xl m-0 text-gray-300">chevron_right</mat-icon>
          </div>
        </button>
        }

        <ul class="w-full py-2 text-sm text-gray-700">
          <li>
            <a
              class="block px-4 py-2 font-sans hover:bg-gray-100 hover:text-green-600 cursor-pointer"
              >Setting and privacy</a
            >
          </li>
          <li>
            <a
              class="block px-4 py-2 font-sans hover:bg-gray-100 hover:text-green-600 cursor-pointer"
              >Language</a
            >
          </li>
          <li>
            <a
              class="block px-4 py-2 font-sans hover:bg-gray-100 hover:text-green-600 cursor-pointer"
              >Help</a
            >
          </li>
        </ul>

        <div>
          <button
            class="w-full m-0 border-none outline-none text-start hover:bg-gray-100 text-red-600 p-4"
          >
            Logout
          </button>
        </div>
      </div>
    </li>
  </ul>

  <button
    data-drawer-target="drawer-navigation"
    data-drawer-show="drawer-navigation"
    aria-controls="drawer-navigation"
    type="button"
    class="lg:hidden relative flex flex-col justify-center items-center gap-1"
  >
    <img
      src="assets/images/person.jpg"
      alt="profile"
      class="w-12 h-12 rounded-full bg-cover"
    />

    <div
      class="absolute -right-2 -bottom-2 flex justify-center items-center rounded-full bg-slate-50 text-gray-400"
    >
      <mat-icon class="text-lg">menu</mat-icon>
    </div>
  </button>
</header>

<side-profile [userInfo]="userInfo()" />
