@import "reboot";
@import "base";
@import "scrollbar";
@import "material";
@import "tailwend";

.show-sm {
  display: flex !important;
}

.hidden-sm {
  display: none !important;
}

.reverse-dir {
  direction: rtl;
}

@media (min-width: 1024px) {
  .hidden-sm {
    display: flex !important;
  }

  .show-sm {
    display: none !important;
  }

  .reverse-dir {
    direction: ltr;
  }
}
